div {
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 30px;
}

.item {
}

.item1 {
  background-color: blueviolet;
  position: relative;
  left: 100px;
  /* transform: translate(100px, 50px); */
  top: 50px;
}

.item2 {
  background-color: red;
  position: relative;
  right: 150px;
  bottom: 320px;
  /* transform: translate(-150px, -320px); */
}

.item3 {
  background-color: green;
  position: relative;
  left: 180px;
  bottom: 240px;
  /* transform: translate(180px, -240px); */
}
