.succes {
  border: 1px solid darkgreen;
  background-color: darkseagreen;
  color: darkgreen;
}

.error {
  border: 1px solid darkred;
  background-color: red;
  color: darkred;
}

.warning {
  border: 1px solid yellow;
  background-color: palegoldenrod;
  color: yellow;
}
